/*face image*/

img{

    position: relative;
    height: auto;
    width: 750px;
    max-width: 100%;
}

/*Website text*/

.dialogue1{
    position: relative;
    bottom: 100px;
    font-family: calibri;
    font-weight: bolder;
    border: 3.5px solid black;
    color: black;
    word-spacing: 0.2em;
    font-size: 1.5625rem;
    max-width: 1000px;
}
.dialogue2{
    position: relative;
    font-weight: bolder;
    font-family: calibri;
    color: black;
    word-spacing: 0.2em;
    font-size: 1.5625rem;
    max-width: 1000px;
}
.indent{
    position: relative;
    font-weight: bolder;
    font-family: calibri;
    color: black;
    word-spacing: 0.2em;
    font-size: 1.5625rem;
    max-width: 1000px;
}
.kerala{
    font-family: verdana;
    font-size: 1.25rem;
    font-weight:bolder;
    color: black;
}
.details1{
    font-family: verdana;   
    
}
.karnataka{
    font-family: verdana;
    font-size: 1.25rem;
    font-weight:bolder;
    color: black;
}
.details2{
    font-family: verdana;
    margin-bottom:50px;
}
.enquiry1{
    font-family: verdana;
    font-size: 0.9375rem;
    margin-bottom:10px;
}
.enquiry2{
    font-family: verdana;
    font-size: 1.125rem;
}
.enquiry3{
    font-family: verdana;
    font-size: 1.125rem;
}
.enquiry4{

    font-family: verdana;
    font-size: 0.90rem;
}

/*Meddia queries*/

@media only screen and (min-width: 750px) {
    .kerala{
             margin:0 30% 0 0;
    }
    .details1{
        margin:0 33% 0 0;
    }
    .karnataka{
        margin:0 0 0 30%;
        position: relative;
        bottom: 120px;
    }
    .details2{
        margin:0 0 0 33%;
        position: relative;
        bottom: 100px;
    }
        
}

    /*Social media icons*/

    .fa {
        position: relative;
        left: 48%;
        padding: 12px;
        padding-top:8px;
        font-size: 28px;
        width: 11px;
        height: 13px;
        text-align: center;
        text-decoration: none;
        margin: 40px 2px 0px 25px;
        border-radius:20%;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
